<!DOCTYPE html>
<!-- ####### HEY, I AM THE SOURCE EDITOR! #########-->
<html>
<head><meta http-equiv="refresh" content="2"></head>
<body>
    <h1 style="color: #5e9ca0;">Current Metrics</h1>
    <h2>Gauges</h2>
    <link rel="stylesheet" href="styles.css">
    <table class="steelBlueCols">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {{ range $key, $value := .Gauges }}<tr>
                <td>{{$key}}</td>
                <td>{{$value}}</td>
            </tr>{{ end }}
        </tbody>
        </tr>
    </table>
    <h2>Counters</h2>
    <table class="steelBlueCols">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {{ range $key, $value := .Counters }}<tr>
                <td>{{$key}}</td>
                <td>{{$value}}</td>
            </tr>{{ end }}
        </tbody>
        </tr>
    </table>
    <!-- <p>&nbsp;</p> -->
</body>

</html>